{% extends'base.html.twig' %}
{% block title %}{{ parent() }}L2DSI2{% endblock %}
{%  block body %}
    <a {{href="path('calcul_some',{'A':7, 'B':5})"}}>SOMME</a>
    <br>
    <a {{href="path('calcul_soustract',{'A':7, 'B':5})"}}>SOUSTRACTION</a>

{% endblock %}