{% extends'base.html.twig' %}
{% block title %}{{ parent() }}L2DSI2{% endblock %}
{%  block body %}
    <h1>le numero de l'article est: {{a}}</h1>
    <h1>le nom de l'article est: {{b}}</h1>
{% endblock %}